<%= form_for @task, :html => {:class => 'form-horizontal'} do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <br />
  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
  <br />
  <% unless current_page?(new_task_path) %>
  <div class="field">
    <%= f.check_box :complete %>
    <%= f.label :complete %>
  </div>
  <% end %>
  <br />
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
