<%= form_for [@project, @task], :html => {:class => 'form-horizontal'} do |f| %>
  <%= render "/errors", object: @task %>

  <!-- Description -->
  <div class="form-group">
    <div class="col-sm-1">
      <%= f.label :description, :class => 'control-label' %>
    </div>
    <div class="col-sm-5">
      <%= f.text_field :description, :class => "form-control" %>
    </div>
  </div>

  <!-- Due date -->
  <div class="form-group">
    <div class="col-sm-1">
      <%= f.label :due_date, :class => 'control-label' %>
    </div>
    <div class="col-sm-5">
      <%= f.date_field :due_date, :class => "form-control" %>
    </div>
  </div>
  <br />

  <!-- Complete? -->
  <% unless current_page?(new_project_task_path(@project)) %>
    <div class="form-group">
      <div class="col-sm-1">
      </div>
      <div class="col-sm-5">
        <%= f.check_box :complete %>
        <%= f.label :complete %>
      </div>
    </div>
    <br />
  <% end %>

  <!-- Submit form button -->
  <div class="form-group">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-5">
      <!-- <div class="actions"> -->
        <%= f.submit nil, :class => 'btn btn-default btn-primary' %>
      <!-- </div> -->
    </div>
  </div>
<% end %>
