  <div>
    <div class="page-header">
      <div class="pull-right text-muted">
        <%= link_to_if((@ref == "incomplete"), "All", project_tasks_path(@project, sort: "all")) %> |
        <%= link_to_if((@ref == "all"), "Incomplete", project_tasks_path(@project, sort: "incomplete")) %>&nbsp;&nbsp;&nbsp;
        <%= link_to 'New Task', new_project_task_path(@project), class: "btn btn-primary" %>
      </div>
      <h1><%= "Tasks for #{@project.name}" %></h1>
      <% if notice %>
        <div class="alert alert-success">
          <p id="notice"><%= notice %></p>
        </div>
      <% end %>
    </div>
    <p>
      <ol class="breadcrumb">
        <li><%= link_to "Projects", projects_path %></li>
        <li><%= link_to @project.name, project_path(@project) %></li>
        <li class="active">Tasks</li>
      </ol>
    </p>
    <table class="table">
      <thead>
        <tr>
          <th width="20%">Description</th>
          <th width="20%">Complete</th>
          <th width="40%">Due</th>
          <th width="20%"></th>
        </tr>
      </thead>

      <tbody>
        <% @tasks.each do |task| %>
          <tr>
            <td>
              <%= link_to task.description, project_task_path(@project, task) %>
              &nbsp;<span class="badge"><%= task.comments.count %></span>
            </td>
            <td><%= task.complete %></td>
            <td><%= task.due_date %></td>
            <td>
              <div class="pull-right">
                <%= link_to 'Edit', edit_project_task_path(@project, task), class: "btn btn-info" %>&nbsp;&nbsp;
                <%= link_to "",
                            project_task_path(@project, task),
                            method: :delete,
                            data: {confirm: "Are you sure?"},
                            class: "glyphicon glyphicon-remove" %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <br>
