  <div class="container">
    <div class="page-header">
      <div class="pull-right text-muted">
        <%= link_to_if((@ref == "incomplete"), "All", project_tasks_path(@project, sort: "all")) %> |
        <%= link_to_if((@ref == "all"), "Incomplete", project_tasks_path(@project, sort: "incomplete")) %>&nbsp;&nbsp;&nbsp;
        <%= link_to 'New Task', new_project_task_path(@project), class: "btn btn-primary" %>
      </div>
      <h1>Tasks for <%= @project.name %></h1>
    </div>
    <p>
      <ol class="breadcrumb">
        <li><%= link_to "Projects", projects_path %></li>
        <li><%= link_to @project.name, project_path(@project) %></li>
        <li class="active">Tasks</li>
      </ol>
    </p>
    <table class="table">
      <thead>
        <tr>
          <th width="50%">Description</th>
          <th width="15%">Complete</th>
          <th width="15%">Due</th>
          <th width="20%"></th>
        </tr>
      </thead>

      <tbody>
        <% @project.tasks.each do |task| %>
          <tr>
            <td><%= task.description %></td>
            <td><%= task.complete %></td>
            <td><%= task.due_date %></td>
            <td>
              <div class="pull-right">
                <%= link_to 'Show', project_task_path(@project, task), class: "btn btn-success" %>&nbsp;&nbsp;
                <%= link_to 'Edit', edit_project_task_path(@project, task), class: "btn btn-info" %>&nbsp;&nbsp;
                <%= link_to 'Destroy', project_task_path(@project, task), class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <br>
