<div>
  <% if notice %>
    <div class="alert alert-success">
      <p id="notice"><%= notice %></p>
    </div>
  <% end %>
  <div class="page-header">
    <div class="pull-right">
      <%= link_to 'Edit', edit_project_task_path(@project, @task), class: "btn btn-info" %>
    </div>
    <h1><%= @task.description %></h1>
  </div>
  <ol class="breadcrumb">
    <li><%= link_to "Projects", projects_path %></li>
    <li><%= link_to @project.name, project_path(@project) %></li>
    <li><%= link_to "Tasks", project_tasks_path(@project) %></li>
    <li>Show</li>
  </ol>
  <p>
    <strong>Completed:</strong>&nbsp;&nbsp;<%= @task.complete %>
  </p>
  <p>
    <strong>Due Date:</strong>&nbsp;&nbsp;<%= @task.due_date %>
  </p>
  <br />
  <h4>Comments</h4>

  <% if current_user %>
    <%= form_for [@task, @comment] do |f| %>
      <div class="col-md-3">
      </div>
      <div class="col-md-9">
        <p>
          <%= f.text_area :content, class: "form-control" %>
        </p>
        <p>
          <%= f.submit "Add Comment", {class:"btn btn-primary"} %>
        </p>
      </div>
    <% end %>
  <% end %>
</div>
