<div>
  <% if notice %>
    <div class="alert alert-success">
      <p id="notice"><%= notice %></p>
    </div>
  <% end %>
  <div class="page-header">
    <div class="pull-right">
      <%= link_to 'Edit', edit_project_task_path(@project, @task), class: "btn btn-info" %>
    </div>
    <h1><%= @task.description %></h1>
  </div>
  <ol class="breadcrumb">
    <li><%= link_to "Projects", projects_path %></li>
    <li><%= link_to @project.name, project_path(@project) %></li>
    <li><%= link_to "Tasks", project_tasks_path(@project) %></li>
    <li>Show</li>
  </ol>
  <p>
    <strong>Completed:</strong>&nbsp;&nbsp;<%= @task.complete %>
  </p>
  <p>
    <strong>Due Date:</strong>&nbsp;&nbsp;<%= @task.due_date %>
  </p>
  <table>
    <tr>
      <td>
        <h4>Comments</h4>
      </td>
      <td></td>
    </tr>
    <% @comments.each do |comment| %>
      <tr>
        <td class="col-md-3 my-class-no-left-pad">
            <%= link_to comment.user.full_name, user_path %>
            <br >
            <p class="text-muted"><%= time_ago_in_words(comment.created_at) %> ago</p>
        </td>
        <td valign="top" class="col-md-9">
          <%= comment.content %>
        </td>
        <br />
      </tr>
    <% end %>

    <% if current_user %>
      <tr>
        <%= form_for [@task, @comment] do |f| %>
          <td class="col-md-3">
          </td>
          <td class="col-md-9">
            <p>
              <%= f.text_area :content, class: "form-control" %>
            </p>
            <p>
              <%= f.submit "Add Comment", {class:"btn btn-primary"} %>
            </p>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>
