<div>
  <div class="page-header">
    <% if current_user == @user || current_user.admin %>
      <div class="pull-right">
        <%= link_to 'Edit', edit_user_path, class: "btn btn-primary" %>
      </div>
    <% end %>
    <h1><%= "#{@user.first_name} #{@user.last_name}" %></h1>
  </div>

  <dl class="dl-horizontal">
    <dt>First Name</dt>
      <dd><%= @user.first_name %></dd>
    <dt>Last Name</dt>
      <dd><%= @user.last_name %></dd>
    <dt>Email</dt>
      <% if current_user == @user || is_co_member?(@user) || current_user.admin %>
        <dd><%= mail_to(@user.email) %></dd>
      <% else %>
        <dd></dd>
    <% end %>
    <dt>Pivotal Tracker Token</dt>
    <dd><%= mask_token(@user.pivotal_tracker_token) %></dd>
  </dl>
  <br />
</div>
