<%= form_for @project, :html => {:class => 'form-horizontal'} do |f| %>

  <%= render "/errors", object: @project %>
  <div class="form-group">
    <div class="col-sm-2">
      <%= f.label :name, :class => 'control-label' %>
    </div>
    <div class="col-sm-4">
      <%= f.text_field :name, :class => "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-4">
        <%= f.submit nil, :class => 'btn btn-default btn-primary' %>
    </div>
  </div>
<% end %>
