<%= page_header "Projects" do %>
  <%= link_to 'Create Project', new_project_path, class: "btn btn-primary" %>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Members</th>
      <th>Tasks</th>
    </tr>
  </thead>
  <tbody>
    <% if current_user.admin %>
      <% @projects.each do |project| %>
        <tr>
          <td><%= link_to project.name, project_path(project) %></td>
          <td><%= link_to project.memberships.count, project_memberships_path(project) %></td>
          <td><%= link_to project.tasks.count, project_tasks_path(project) %></td>
        </tr>
      <% end %>
    <% else %>
      <% @current_memberships.each do |m| %>
        <tr>
          <td><%= link_to m.project.name, project_path(m.project_id) %></td>
          <td><%= link_to m.project.memberships.count, project_memberships_path(m.project_id) %></td>
          <td><%= link_to m.project.tasks.count, project_tasks_path(m.project_id) %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<% if current_user.pivotal_tracker_token.present? %>
  <h1 class="page-header">Pivotal Tracker Projects</h1>
  <table id="tracker projects" class="table">
    <thead>
      <tr>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <% @tracker_projects.each do |project| %>
        <tr>
          <td>
            <%= link_to project[:name], tracker_stories_path(tracker_id: project[:id]) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
