<div>
  <% if notice %>
    <div class="alert alert-success">
      <p id="notice"><%= notice %></p>
    </div>
  <% end %>

  <div class="page-header">
    <div class="pull-right">
      <%= link_to 'Edit', edit_project_path(@project), class: "btn btn-primary" %>&nbsp;&nbsp;
      <%= link_to 'Destroy', project_path(@project), class: "btn btn-danger", :method => :delete %>
    </div>
    <h1><%= @project.name %></h1>
  </div>
  <p>
    <ol class="breadcrumb">
      <li><%= link_to "Projects", projects_path %></li>
      <li class="active"><%= @project.name %></li>
    </ol>
  </p>
  <p>
    <%= link_to pluralize(@project.tasks.count, "Task"), project_tasks_path(@project) %>
  </p>
  <p>
    <%= link_to pluralize(@project.users.count, "Member"), project_memberships_path(@project) %>
  </p>
  <br />
</div>
